/* 

-----------TYPOGRAPHY STYLES-----------

FONT FAMILY: 'Poppins', sans-serif;
FONT WEIGHTS: 400 / 700
FONT SIZES: 12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px
LINE HEIGHTS: 1.2 / 1.5
LETTER SPACING: 0 / -2px

---------------COLORS---------------

PRIMARY:
- tint: #d0ebff
- base: #339af0
- shade: #1c7ed6

SECONDARY:
- tint: #e5dbff
- base: #9775fa
- shade: #7048e8

TERTIARY:
-tint: #ffe8cc
- base: #ff922b
- shade: #f76707

GREY:
- tint: #f1f3f5
- base: #495057
- shade: #212529
- white: #ffffff
- black: #000000

*/

/*---------------------------- GLOBAL STYLES ----------------------------*/

:root {
    /*--------- COLORS ---------*/
    --color-primary-tint: #d0ebff;
    --color-primary-base: #339af0;
    --color-primary-shade: #1c7ed6;

    --color-secondary-tint: #e5dbff;
    --color-secondary-base: #9775fa;
    --color-secondary-shade: #7048e8;

    --color-tertiary-tint: #ffe8cc;
    --color-tertiary-base: #ff922b;
    --color-tertiary-shade: #f76707;

    --color-grey-tint: #f1f3f5;
    --color-grey-base: #495057;
    --color-grey-shade: #212529;

    --color-white: #ffffff;
    --color-black: #000000;

    /*--------- FONT SIZES ---------*/
    --font-size-h1: 6.2rem; /* 62px */
    --font-size-h2: 4.8rem; /* 48px */
    --font-size-h3: 4rem;   /* 40px */
    --font-size-h4: 3.2rem; /* 32px */
    --font-size-h5: 2.4rem; /* 24px */
    --font-size-p: 2rem;    /* 20px */
    --font-size-a: 1.6rem;  /* 16px */
    --font-size-small: 1.2rem; /* 12px */

    /*--------- FONT WEIGHTS ---------*/
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /*--------- LINE HEIGHTS ---------*/
    --line-height-tight: 1.2;
    --line-height-regular: 1.5;

    /*--------- LETTER SPACING ---------*/
    --letter-spacing-tight: -2px;

    /*--------- TYPOGRAPHY ---------*/
    --font-family: 'Poppins', sans-serif;

    /*--------- MISCELENEOUS ---------*/
    --nav-height: 20rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-regular);
    color: var(--color-grey-shade);
}

.container {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--color-grey-shade);
}

h1 {
    text-align: center;
    font-size: var(--font-size-h1);
}

h2 {
    text-align: center;
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3); 
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

p {
    font-size: var(--font-size-p);
}

a {
    text-decoration: none;
    font-size: var(--font-size-a);
    display: inline-block;
}

span {
    display: inline-block;
}

ul {
    list-style: none;
}

.small-text {
    font-size: var(--font-size-small)
}

/*---------------------------- COMPONENTS ----------------------------*/

.btn {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-a);
    text-decoration: none;
    padding: 1.5rem 3rem;
    border-radius: 10px;
}

.btn-primary:link, .btn-primary:visited {
    color: var(--color-white);
    background-color: var(--color-primary-base) ;
    border: 2px solid var(--color-primary-base) ;
}

.btn-primary:hover, .btn-primary:active {
    color: var(--color-white);
    background-color: var(--color-primary-shade);
    border: 2px solid var(--color-primary-shade) ;
}

.btn-primary-outline:link, .btn-primary-outline:visited {
    color: var(--color-primary-base);
    background-color: var(--color-white);
    border: 2px solid var(--color-primary-base) ;
}

.btn-primary-outline:hover, .btn-primary-outline:active {
    color: var(--color-primary-shade);
    background-color: var(--color-white) ;
    border: 2px solid var(--color-primary-shade) ;
}

.btn-secondary:link, .btn-secondary:visited {
    color: var(--color-white);
    background-color: var(--color-secondary-base);
    border: 2px solid var(--color-secondary-base);
}

.btn-secondary:hover, .btn-secondary:active {
    color: var(--color-white);
    background-color: var(--color-secondary-shade);
    border: 2px solid var(--color-secondary-shade);
}

.highlight {
    color: var(--color-white);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.highlight-primary {
    background-color:  var(--color-primary-base);
}

.highlight-secondary {
    background-color: var(--color-secondary-base);
}

.highlight-tertiary {
    background-color: var(--color-tertiary-base);
}

.logo-md {
    width: 100px;
}

.logo-sm {
    width: 80px;
}

/*---------------------------- SECTIONS ----------------------------*/

/*---------- NAV BAR ---------- */
.nav-bar {
   height: var(--nav-height);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-btn-container {
    display: flex;
    gap: 2rem;
}

/*---------- HERO SECTION ---------- */
.hero-section {
    height: calc(100vh - var(--nav-height));
    min-height: 400px;
   margin-bottom: 10rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.hero-heading {
    margin-bottom: 1rem;
}

.hero-paragraph {
    margin-bottom: 5rem;
}

.hero-btn-container {
    display: flex;
    gap: 2rem;
}

/*---------- FEATURES SECTION ---------- */
.features-main-heading {
    text-align: center;
    margin-bottom: 8rem;
}

.features-section {
    margin-bottom: 30rem;
}

.features-sub-heading {
    margin-bottom: 2rem;
}

.feature-img {
    max-width: 400px;
    width: 100%;

}

/*---------- CTA SECTION ---------- */
.cta-section {
    margin-bottom: 30rem;
    display: flex;
    justify-content: center;
}

.cta-card {
    text-align: center;
    background-color: var(--color-primary-base);
    max-width: 1000px;
    width: 100%;
    padding: 10rem 20rem;
    border-radius: 25px;
}

.cta-heading {
    margin-bottom: 3rem;
}

/*---------- FOOTER SECTION ---------- */
.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.social-icons-container {
    display: flex;
    gap: 1.5rem;
}

.social-media-icons {
    width: 25px;
}

.footer-links-container {
    display: flex;
    gap: 1rem;
}